<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="product-table">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Vendor</th>
                <th>Type</th>
                <th>Variants</th>
                <th>Image</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${productsWithDetails.products}"
                th:attr="data-product-id=${product.uid}">
                <td th:text="${product.title}"></td>
                <td><span class="badge badge-primary" th:text="${product.vendor}"></span></td>
                <td><span th:unless="${#strings.isEmpty(product.productType)}" class="badge type-badge"
                          th:text="${product.productType}"></span></td>
                <td>
                    <div class="variants-grid"
                         th:id="'variants-' + ${product.uid}">
                        <div th:replace="fragments/variants-list :: variants-list(${product})"></div>
                    </div>
                </td>
                <td>
                    <img th:unless="${#strings.isEmpty(product.variants[0]?.featuredImage?.src)}"
                         th:src="${product.variants[0]?.featuredImage?.src}" th:alt="${product.title}"
                         class="product-image">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</html>